<h2>Welcome to your Scratch Golfer Profile Page.</h2>

<%= render "user_info" %>
<br></br>
<%= link_to "Check out the courses #{@user.name} has played.", user_courses_path(@user) %><br></br>
<!-- <%= link_to "Take a look at all the rounds #{@user.name} has played.", user_rounds_path(@user) %><br></br> -->
<a href="#" class="js-show" data-id="<%=@user.id%>">Show User's Rounds</a><br></br>

<div class="roundsContainer"></div>

<% if @user.id == session[:user_id] %>

<!-- Add a round via AJAX form -->
<!-- This form should only show once you've clicked the button to show it.
It should then submit once a user has filled it out and create a new round for them -->
<%= link_to "Add a round", users_rounds_new_path, :remote => true %>

<%= link_to "Edit your profile page", edit_user_path %>
<% end %>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  $(".button").click(function(event) {
    var $button = $(this);
    var url = $(this).data("url")

    $.get(url, function(response) {
      console.log(response)
      $button.before(response)
    })
    event.preventDefault();
  })
});


$(function () {
  $(".js-show").on("click", function() {
    $.get("/users/" + $(".js-show").attr("data-id") + "/rounds.json", function(data) {
      var rounds = ''
      for (var i = 0; i < data.length; i++) {
        rounds += `<div><strong>Round Number: ${i + 1}</strong></div><br>`
        rounds += `<div>Course Name: ${data[i]["course"]["name"]}</div><br>`
        rounds += `<div>Score: ${data[i]["score"]}</div><br>`
        rounds += `<div>Putts: ${data[i]["putts"]}</div><br>`
      }
      $(".roundsContainer").html( rounds );
    });
    event.preventDefault();
  });
});
</script>
