<h2>Welcome to your Scratch Golfer Profile Page.</h2>

<%= render "user_info" %>
<br></br>
<%= link_to "Check out the courses #{@user.name} has played.", user_courses_path(@user) %><br></br>
<!-- <%= link_to "Take a look at all the rounds #{@user.name} has played.", user_rounds_path(@user) %><br></br> -->
<a href="#" class="js-show" data-id="<%=@user.id%>">Show User's Rounds</a><br></br>
<div class="new_round_container"></div>
<div class="roundsContainer"></div>

<% if @user.id == session[:user_id] %>

<!-- Add a round via AJAX form -->
<!-- This form should only show once you've clicked the button to show it.
It should then submit once a user has filled it out and create a new round for them -->
<a href="#" class="add-round">Add a round</a><br></br>
<div id="round_info">
</div>


<%= link_to "Edit your profile page", edit_user_path %>
<% end %>

<script type="text/javascript">
  $(function () {
    $(".js-show").on("click", function() {
      $.get("/users/" + $(".js-show").attr("data-id") + "/rounds.json", function(data) {
        var rounds = ''
        for (var i = 0; i < data.length; i++) {
          rounds += `<div><strong>Round Number: ${i + 1}</strong></div><br>`
          rounds += `<div>Course Name: ${data[i]["course"]["name"]}</div><br>`
          rounds += `<div>Score: ${data[i]["score"]}</div><br>`
          rounds += `<div>Putts: ${data[i]["putts"]}</div><br>`
        }
        $(".roundsContainer").html( rounds + `<button id="hide_rounds">Hide Rounds</button>`);
        $("#hide_rounds").on("click", function(){
          $(".roundsContainer").html("")
      });
      });
      event.preventDefault();
    });



    $(".add-round").on("click", function() {
      $(".add-round").after("<br></br><%= j render partial: 'rounds/form' %>");
      event.preventDefault();
    })

    // Form related javascript found in form partial file.

  });
  // Create a model object in javascript (es-6 class or es-5 constructors)

</script>
