Name: <div class="courseName"><%= @course.name %></div>
<br></br>
City: <div class="courseCity"><%= @course.city %>
<br></br>
State: <div class="courseState"><%= @course.state %></div>
<br></br>
Slope: <div class="courseSlope"><%= @course.slope %></div>
<br></br>
Rating: <div class="courseRating"><%= @course.rating %></div>
<br></br>
