<!DOCTYPE html>
<html>
<head>
  <title>ScratchGolfer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="navbar  navbar-inverse">
  <div class="navbar-class">
  <div class="container">


  <!-- Collect the nav links, forms, and other content for toggling -->

    <ul class="nav navbar-nav">
    <li><%=link_to "HOME", root_path%></li>
    <li><%=link_to "USERS", users_path%></li>
    <li><%=link_to "COURSES", courses_path %></li>
    <li><%=link_to "ROUNDS", rounds_path %></li>
    <% if session[:user_id] %>
    <li><%=link_to'YOUR PROFILE', user_path(session[:user_id])%></li>
    <% end %>
    </ul>


    </div>
   </div>
   </header>

<%= yield %>

<br></br>
<% if session[:user_id] %>
<%= link_to "Return to Profile Page", user_path(session[:user_id]) %><br></br>
<%= link_to "Sign Out", signout_path %>
<% end %>
</body>
</html>
